<h2 style="text-align: center;">Dog Registration</h2>

<div class="container" style="display: flex; justify-content: center;">
  <div class="form-container" style="width: 50%; margin: 20px;">
    <form [formGroup]="dogForm" style="margin-bottom: 10px;">
      <div class="form-group">
        <label for="name">Name of the dog</label>
        <input id="name" type="text" formControlName="dog_name" class="form-control" />
        <div *ngIf="dogForm.get('dog_name')?.invalid && dogForm.get('dog_name')?.touched" class="error">
          Dog name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="breed">Breed </label>
        <input id="breed" type="text" formControlName="breed" class="form-control" />
        <div *ngIf="dogForm.get('breed')?.invalid && dogForm.get('breed')?.touched" class="error">
          Breed is required.
        </div>
      </div>
      <div class="form-group">
        <label for="about">About </label>
        <input id="about" type="text" formControlName="about" class="form-control" />
        <div *ngIf="dogForm.get('about')?.invalid && dogForm.get('about')?.touched" class="error">
          Introduction is required.
        </div>
      </div>
      <div class="form-group">
        <label for="file">Select Image:</label>
        <input type="file" id="file" accept="image/*" (change)="onFileSelected($event)" class="form-control" />
      </div>
      <div *ngIf="dogForm.get('image_data')?.invalid && dogForm.get('image_data')?.touched" class="error">
        {{errorMessage}}
      </div>
      <!-- <div class="form-group">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="resizeImage"
              [ngModelOptions]="{standalone: true}"
            />
            Resize image (800x600)
          </label>
        </div> -->
    </form>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="dogForm.invalid">Submit</button>
  </div>
</div>